<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Iuvo_Promotion>
            <version>1.0.0</version>
        </Iuvo_Promotion>
    </modules>
    <global>
    	<blocks>
			<adminhtml>
				<rewrite>
					<promo_quote_edit>Iuvo_Promotion_Block_Promo_Quote_Edit</promo_quote_edit>
					<promo_quote_edit_tab_actions>Iuvo_Promotion_Block_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<salesrule>
				<rewrite>
					<validator>Iuvo_Promotion_Model_Validator</validator>
					<rule>Iuvo_Promotion_Model_Rule</rule>
				</rewrite>
			</salesrule>
		</models>
		<resources>
			<promotion_setup>
				<setup>
                    <module>Iuvo_Promotion</module>
                </setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</promotion_setup>
			<promotion_write>
				<connection>
					<use>default_write</use>
				</connection>
			</promotion_write>
			<promotion_read>
				<connection>
					<use>default_read</use>
				</connection>
			</promotion_read>
		</resources>
		<helpers>
            <promotion>
                <class>Iuvo_Promotion_Helper</class>
            </promotion>
        </helpers>
	</global>
</config>